@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My custom styles */
/* ****************** HOME- NAV SECTION ************* */
body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

html {
  scroll-behavior: smooth;
}

.Spa-logo {
  width: 80px;
  padding: 0;
}

.Spa-nav {
  min-height: 5vh;
  background-color: #fff;
  align-items: center;
}

.Spa-nav ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  justify-content: space-between;
  /* font-weight: 400; */
}

.Spa-nav ul li {
  color: #000;
  font-weight: 400;
}

.Nav-center,
.Nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nav-center {
  position: relative;
  left: 10%;
}

.Nav-center li,
.Nav-right li {
  padding: 10px 25px;
}

.Nav-center h6,
.Nav-right h6,
.Cart-text {
  font-weight: 400;
}

/* *********************** Cart Page ************* */

.Cart-text {
  width: 90px;
}

.Cart-section {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.Item-name,
.Member-name {
  font-weight: 500;
}

.Item-img {
  height: 15vmin;
  width: 15vmin;
  margin-right: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.Product-items .List-items {
  padding-left: 50px !important;
}

.Add-Rm-Btns {
  position: relative;
  top: 10px;
}

.Item-contents {
  display: flex;
  align-items: center;
}

.Quantity-contents {
  display: flex;
  flex-direction: column;
}

.Quantity-box {
  border: #e4e4e4 2.5px solid;
  width: 45px;
  padding: 10px 15px;
  margin: 0 10px;
}

.Nav-links {
  text-decoration: none;
  color: inherit;
}

.Nav-links:hover {
  /* color: #f7cc70 !important; */
  /* color: #585931 !important; */
  color: goldenrod !important;
}

.Nav-links h6 {
  margin-bottom: 0;
}

.Nav-links:hover {
  color: white;
}

.Cart-items .List-items {
  padding-left: 30px !important;
}

/* .card-text form {
  width: 250px;
} */

/* sortPrice.js */
.Sort-div {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.Sort-div p {
  margin: 0;
}

.Sort-div select {
  height: fit-content;
  margin-left: 15px;
}

/* *********************** HERO SECTION ************* */
header {
  height: 93vh;
}

.Hero-img {
  /* background: no-repeat #f7cc70 url(/public/images/hero-img.jpg); */
  background: no-repeat #585931 url(/public/images/hero-img.jpg);
  background-size: cover;
  background-position: center center;
  padding-top: 3em;
  min-height: 600px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
  align-items: center;
  text-align: center;
  margin: 6% auto;
  align-content: space-between;
  row-gap: 40px;
}

.hero-text h1 {
  color: white;
  font-size: 7em;
  font-weight: 400;
  width: 50%;
}

.hero-text p {
  font-size: large;
  width: 60%;
  margin-top: 20px;
}

.hero-text button,
.Contact-section form button,
.Facials-list button,
.Cart-items a,
.Login-section form button.button-cta {
  background-color: #f7cc70;
  padding: 10px 50px;
  font-weight: 700;
  border: 2px solid transparent;
}

.hero-text button:hover,
#footer-btn:hover,
.Contact-section form button:hover,
.Facials-list button:hover,
.Cart-items a:hover,
.Login-section form button.button-cta:hover {
  border: 2px solid #f7cc70;
  color: #fff;
}

/* ******************** HOME BODY *************** */
body {
  height: fit-content;
}

body .container {
  text-align: center;
  padding: 20px 0;
}

body .container .row {
  margin-bottom: 50px;
}

body .container .row .col-sm img {
  height: 287px;
}

#home-body .row .highlight {
  transition: 800ms;
}

#home-body .row .highlight:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 5px;

  transform: translateY(5px);
}

#home-body .row .highlight a {
  text-decoration: none;
  color: #000;
}

#home-body .row .highlight a:hover {
  color: #585931;
}

/* ******************** TEAM.js *************** */
.Team-list {
  background-color: #585931;
}

.Team-list .List-items {
  padding-left: 30px !important;
}

.Member-img {
  width: 20vmax;
  height: 20vmax;
  object-fit: cover;
  border-radius: 50%;
}

.Member-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.specialty {
  color: tomato;
  /* color: goldenrod; */
}

.reviews {
  font-weight: light;
  color: slategray;
}

/* ******************** LOGIN.js *************** */
.Login-section .rowChild {
  display: flex;
  justify-content: center;
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

/* ******************** CONTACT.js *************** */
.Contact-section,
.Login-section,
.About-section {
  background: no-repeat #f7cc70 url(/public/images/hero-img.jpg);
  background-size: cover;
  background-position: center center;
  /* background-color: #a6998f; */
}

.Contact-section form button:hover,
.Facials-list button:hover,
.Cart-items a:hover,
.Login-section form button:hover {
  color: #261b14;
}

/* ******************** CART.js *************** */
.Cart-items a.checkout-CTA {
  background-color: transparent;
  border: 2px solid #f7cc70;
}

.Cart-items a.checkout-CTA:hover {
  background-color: #f7cc70;
  /* color: white; */
}

/* ******************** FACIALS.js *************** */
.Facials-list button {
}

/* ******************** FOOTER *************** */
section .info-content {
  background-color: #a6998f;
}

footer .copyright {
  background-color: #261b14;
}

footer .row {
  display: flex;
  text-align: left;
}

#footer-btn {
  background-color: #f7cc70;
  border: 2px solid transparent;
  color: #000;
}

#footer-btn:hover {
  background-color: transparent;
}
