.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My custom styles */
/* *********************** NAV SECTION ************* */
.Spa-logo {
  width: 80px;
  padding: 0;
}

.Spa-nav {
  min-height: 5vh;
  background-color: #fff;
  align-items: center;
}

.Spa-nav ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  justify-content: space-between;
  /* font-weight: 400; */
}

.Spa-nav ul li {
  color: #000;
  font-weight: 400;
}

.Nav-center,
.Nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nav-center {
  position: relative;
  left: 10%;
}

.Nav-center li,
.Nav-right li {
  padding: 10px 25px;
}

.Nav-center h6,
.Cart-text {
  font-weight: 400;
}

.Cart-text {
  width: 90px;
}

.Cart-section {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.Item-name {
  font-weight: 500;
}

.Item-img {
  height: 15vmin;
  width: 15vmin;
  margin-right: 40px;
}

.Product-items .List-items {
  padding-left: 50px !important;
}

.Add-Rm-Btns {
  position: relative;
  top: 10px;
}

.Item-contents {
  display: flex;
  align-items: center;
}

.Quantity-contents {
  display: flex;
  flex-direction: column;
}

.Quantity-box {
  border: #e4e4e4 2.5px solid;
  width: 45px;
  padding: 10px 15px;
  margin: 0 10px;
}

.Nav-links {
  text-decoration: none;
  color: inherit;
}

.Nav-links h6 {
  margin-bottom: 0;
}

.Nav-links:hover {
  color: white;
}

.Cart-items .List-items {
  padding-left: 30px !important;
}

.card-text form {
  width: 250px;
}

/* sortPrice.js */
.Sort-div {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.Sort-div p {
  margin: 0;
}

.Sort-div select {
  height: fit-content;
  margin-left: 15px;
}

header {
  height: 90vh;
}

/* *********************** HERO SECTION ************* */
.Hero-img {
  background: no-repeat #f7cc70 url(/public/hero-img.jpg);
  background-size: cover;
  background-position: center center;
  padding-top: 3em;
  min-height: 600px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
  text-align: center;
  margin: 5.5% auto;
  align-content: space-between;
  row-gap: 25px;
}

.hero-text h1 {
  color: white;
  font-size: 7em;
  font-weight: 400;
}

.hero-text p {
  /* margin-bottom: 30px; */
}

.hero-text button {
  background-color: #f7cc70;
  /* margin-top: 10px; */
  padding: 10px 25px;
  font-weight: 500;
  border: 2px solid transparent;
}

.hero-text button:hover {
  border: 2px solid #f7cc70;
  color: #fff;
}
